.title {
    text-align:center;
    padding-top:16px;
    padding-bottom:16px;
    border-bottom:1px solid #ccc;
    font-family:"Segoe UI",Arial,sans-serif;
    font-weight:400;
    font-size:24px;
}
.title2 {
	font-family:"Segoe UI",Arial,sans-serif;
    font-weight:400;
    font-size:35px;
}
.border{
	width:50%;
	border-bottom:1px solid #ccc;
}
h3{
    font-family:"Segoe UI",Arial,sans-serif;
    margin-top:30px;
    margin-bottom:20px;
    font-size:27px;
}
h4{
	margin-top:32px;
	margin-bottom:10px;
}
h5{
	font-family:"Segoe UI",Arial,sans-serif;
    font-size:18px;
	margin-top:10px;
	margin-bottom:10px;
}
h6{
    font-family:"Segoe UI",Arial,sans-serif;
    font-size:18px;
    margin: 0;
    padding-top:10px;
    padding-bottom:10px;
}

p{
    font-family:"Segoe UI",Arial,sans-serif;
    font-size:16px;
    line-height: 26px;
}
li{
    font-family:"Segoe UI",Arial,sans-serif;
    font-size:16px;
    line-height: 24px;
}
